/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* ===================== */
/*        TOPBAR         */
/* ===================== */
/* TOPBAR */
.topbar {
    background: #002a5c;
    color: white;
    padding: 6px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.topbar-left span {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.topbar-right a img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    transition: transform 0.2s, opacity 0.2s;
}

.topbar-right a img:hover {
    transform: scale(1.7);
    opacity: 0.7;
}



/* ===================== */
/*        NAVBAR         */
/* ===================== */
.navbar {
    background: #003366;
    color: white;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left:hover {
    cursor: pointer;
}

.logo {
    height: 45px;
}

.univ-name {
    font-weight: bold;
}

.nav-menu a {
    margin: 0px 12px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: background 0.18s ease;
}

.nav-menu a:hover {
    cursor: pointer;
    background-color: grey;
}

/* ===================== */
/*         HERO          */
/* ===================== */
.hero {
    height: 620px;
    background: url("assets/fotouniv.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-text {
    position: relative;
    color: white;
    max-width: 700px;
}

.hero-text h1 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: bold;
}

.date {
    margin-bottom: 10px;
}

.desc {
    margin-top: 12px;
    color: #ddd;
}

/* ========================== */
/*      TAUTAN PENTING        */
/* ========================== */
.links-section {
    background: #002454;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.links-grid {
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.link-btn {
    background: white;
    color: #003366;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    display: block;
    transition: transform 0.5s ease, background 0.25s ease;
}

.link-btn:hover {
    cursor: pointer;
    background-color: yellow;
    transform: scale(1.04);
}

/* ========================== */
/*        REKTOR CARD         */
/* ========================== */
.rektor-section {
    padding: 60px 20px;
}

.rektor-card {
    background: white;
    max-width: 1000px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

.rektor-img {
    width: 40%;
    border-radius: 8px;
}

.rektor-text {
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rektor-text h2 {
    margin-bottom: 1rem;
}

.rektor-btn {
    display: inline-block;
    margin-top: 20px;
    background: #003366;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

/* ANGKA UNPATTI */
.angka-section {
    background: url("assets/statistik.jpg") center center/cover no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.674);
    background-blend-mode: darken;
    text-align: center;
    padding: 60px 20px;
    color: #ffffff;
}

.angka-title {
    font-size: 32px;
    font-weight: 700;
}

.angka-date {
    margin-top: 6px;
    color: white;
    font-size: 14px;
    margin-bottom: 40px;
}

.angka-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    max-width: 900px;
    margin: auto;
}

.angka-item h2 {
    font-size: 42px;
    font-weight: 800;
}

.angka-item p {
    font-size: 15px;
    color: #ffffff;
    margin-top: 6px;
}

.angka-btn {
    margin-top: 35px;
    padding: 12px 24px;
    background: #003366;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: transform 0.5s ease, background 0.25s ease;
}

.angka-btn:hover {
    background: #0055aa;
    transform: scale(1.04);
    cursor: pointer;
    
}

/* ========================= */
/*       MENU BAWAH          */
/* ========================= */

.bottom-menu {
    background: #003366;       
    padding: 30px 0;
    text-align: center;
}

.menu-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu-btn {
    background: white;
    color: #002a5c;
    padding: 12px 40px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s ease, background 0.25s ease;
}

.menu-btn:hover {
    background: #ffdd00;
    transform: scale(1.04);
    cursor: pointer;
}


.icon {
    font-size: 18px;
}

/* ========================== */
/*          FOOTER            */
/* ========================== */
.footer {
    background: #002454;
    color: white;
    padding: 18px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
}

.footer-right img {
    width: 26px;        
    height: 26px;
    object-fit: contain;
    padding: 5px;
    display: inline-block;
    transition: transform 0.2s, opacity 0.2s;
}

.footer-right img:hover {
    transform: scale(1.7);
    opacity: 0.7;
}





